params {
    thr = 0
    local = false
    
    pangenome = true
    assembly = true

    gt = false
    tool.gplas = false
    tool.pbf = false
    tool.pbfs = false

}

profiles {
    gt {
        params.grt = true
    }

    pangenome { // execute only the pangenome evaluation
        params.pangenome = true
        params.assembly = false
    }

    assembly { // execute only the assemlby evaluation
        params.pangenome = false
        params.assembly = true

    }

    gplas { // execute gplas
        params.tool.gplas = true
    }

    pbf {
        params.tool.pbf = true
    }

    pbfstar {
        params.tool.pbfs = true
    }

    all {
        params.tool.gplas = true
        params.tool.pbf = true
        params.tool.pbfs = true
    }

}