params {
    thr = 0
    
    inpt.pangenome = true
    inpt.assembly = true

    tool.gt = false
    tool.gplas = false
    tool.pbf = false
    tool.pbfs = false

}

profile {
    grt {
        params.tool.gt = true
    }

    pangenome { // execute only the pangenome evaluation
        params.inpt.pangenome = true
        params.inpt.assembly = false
    }

    assembly { // execute only the assemlby evaluation
        params.tool.pangenome = false
        params.tool.assembly = true

    }

    gplas { // execute gplas
        params.tool.gplas = true
    }

    pbf {
        params.tool.pbf = true
    }

    pbfstar {
        params.tool.pbfs = true
    }

    all {
        params.tool.gplas = true
        params.tool.pbf = true
        params.tool.pbfs = true
    }

}