params {
    thr = 0
    local = false
    
    pangenome = true
    assembly = true

    gt = false
    gplas = false
    pbf = false
    pbfstar = false

}

profiles {
    gt {
        params.grt = true
    }

    gplas { // execute gplas
        params.gplas = true
    }

    pbf {
        params.pbf = true
    }

    pbfstar {
        params.pbfstar = true
    }

    all {
        params.gplas = true
        params.pbf = true
        params.pbfstar = true
    }

}